<p>Займы предоставляет Общество с ограниченной ответственностью Микрофинансовая компания "ЦФР ВИ" (сокр. ООО МФК "ЦФР ВИ"), ИНН 5407967714, ОГРН 1175476112646. Регистрационный номер в государственном реестре микрофинансовых организаций: № 1803550008909 с 25.09.2018.</p>
<br>
<p>Юридический адрес: г. Новосибирск, ул. Фабричная, 55, оф. 408. Почтовый адрес: 630007, а/я 151. Email: <a href="info@vashinvestor.ru">info@vashinvestor.ru</a>.</p>
<br>
<p>С 10.12.2021 ООО МФК "ЦФР ВИ" является членом саморегулируемой организации "Мир" - 107078, г. Москва Орликов переулок, д. 5, стр. 1, этаж 2, пом. 11, <a href="mailto:info@npmir.ru">info@npmir.ru</a> телефон <a href="tel:+74952588705">+7 (495) 258-8705</a>.</p>
<br>
<p>Потребитель вправе направить обращение Финуполномоченному: на сайте, по адресу 119017, г. Москва, Старомонетный пер., дом 3 или по телефону <a href="tel:88002000010">8 (800) 200-00-10</a>.</p>
<br>
<a href="#" target="_blank">Интернет-приемная Банка России</a><br>
<a href="#" target="_blank">Ссылка на реестр МФО на официальном сайте Банка России</a><br>
<br>
<br>
<a href="#" target="_blank">Свидетельство МФО</a><br>
<a href="#" target="_blank">Правила предоставления займов</a><br>
<a href="#" target="_blank">Список лиц, под контролем либо значительным влиянием которых находится ООО МФК "ЦФР ВИ"</a><br>
<a href="#" target="_blank">Раскрытие информации об МФО</a><br>
<a href="#" target="_blank">Базовый стандарт совершения микрофинансовой организацией операций на финансовом рынке</a><br>
<a href="#" target="_blank">Базовый стандарт по управлению рисками для микрофинансовых организаций</a><br>
<a href="#" target="_blank">Базовый стандарт защиты прав и интересов физических и юридических лиц - получателей финансовых услуг, оказываемых членами саморегулируемых организаций в сфере финансового рынка, объединяющих микрофинансовые организации</a>