.benefits {

  padding-top: 6rem;

  @include breakpoint(desktop) {
    padding-top: 3rem;
  }
  @include breakpoint(tablet) {
    padding-top: 1rem;
  }

  &--3 {
    .benefits__list {
      grid-template-columns: repeat(3, 1fr);

      @include breakpoint(tablet) {
        grid-template-columns: 1fr;
      }
    }
  }

  &__title {
    margin-bottom: 7.8rem;
    max-width: 90rem;

    font-size: 5.4rem;
    font-weight: 500;
    line-height: 1.2;

    @include breakpoint(desktop) {
      margin-bottom: 5.8rem;
      font-size: 3.2rem;
    }

    @include breakpoint(tablet) {
      margin-bottom: 3.8rem;
      font-size: 2.4rem;
    }
  }

  &__inner {
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 4rem;

    @include breakpoint(desktop) {
      gap: 2rem;
    }
    @include breakpoint(tablet) {
      grid-template-columns: 1fr;
      gap: 2.6rem;
    }
  }

  &__item {
    @include breakpoint(tablet) {
      display: flex;
      align-items: flex-start;
      justify-content: flex-start;
      gap: 1.6rem;
    }
  }

  &__item-image {
    flex-shrink: 0;

    height: 6.4rem;
    width: auto;
    margin-bottom: 2rem;

    object-fit: contain;

    @include breakpoint(tablet) {
      height: 4.6rem;
      margin-bottom: 0;
    }
  }

  &__text {

  }

  &__item-title {
    color: $blue;
    font-size: 3rem;
    line-height: 1.2;
    font-weight: 600;

    @include breakpoint(desktop) {
      font-size: 2.4rem;
    }
    @include breakpoint(small-tablet) {
      font-size: 1.8rem;
    }
  }

  &__subtitle {
    display: block;
    margin-top: 1.8rem;

    font-size: 1.6rem;
    line-height: 1.2;
    font-weight: 500;

    @include breakpoint(tablet) {
      margin-top: 0.8rem;
    }
    @include breakpoint(small-tablet) {
      font-size: 1.5rem;
    }
  }
}