.calculator {

  // Используется  в calculators !!!

  hr {
    height: 0.1rem;
    margin: 2rem 0;

    border: none;
    border-radius: 1rem;
    background-color: #E0E0E0;

    @include breakpoint(tablet) {
      display: none;
    }
  }

  .tip {
    margin-bottom: 0.5rem;

    @include breakpoint(tablet) {
      margin: 1.4rem auto 0;
    }
  }

  &__inner {
    padding: 5rem 8.4rem 8.4rem;
    background-color: #F9F9F9;
    border-radius: 3rem;

    @include breakpoint(desktop) {
      padding: 4rem 6rem 6rem;
    }
    @include breakpoint(tablet) {
      padding: 3rem 4rem 4rem;
    }
    @include breakpoint(small-tablet) {
      padding: 1.6rem 2.5rem 2.5rem;
    }
  }

  &__form {
  }

  &__result-title-block {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 0.4rem;
  }

  &__title {
    margin-bottom: 4rem;

    font-size: 4.6rem;
    font-weight: 600;
    line-height: 1.2;

    @include breakpoint(laptop) {
      font-size: 3.2rem;
    }

    @include breakpoint(small-tablet) {
      margin-bottom: 2.4rem;
      font-size: 2.4rem;
    }
  }

  &__cols {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 6rem;

    @include breakpoint(tablet) {
      grid-template-columns: 1fr;
      gap: 2rem;
    }
  }

  // Range
  // ******

  &__range-block {
  }

  &__range-block-group {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    gap: 2rem;
  }

  &__caption {
    font-size: 1.6rem;
    line-height: 1.2;
    font-weight: 600;
    letter-spacing: 0.6px;
    text-transform: uppercase;

    @include breakpoint(small-tablet) {
      font-size: 1.2rem;
    }
  }

  &__input-wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-start;

    border-bottom: 0.1rem solid $blue;
  }

  &__input {
    padding: 0.4rem 0.4rem 0 0.4rem;
    text-indent: -0.2rem;
    
    font-size: 3.4rem;
    line-height: 1.2;
    font-weight: 600;
    color: $blue;

    @include breakpoint(laptop) {
      font-size: 2.6rem;
    }

    @include breakpoint(small-tablet) {
      font-size: 2rem;
    }
  }

  &__input-label {
    padding-top: 0.4rem;

    font-size: 3.4rem;
    line-height: 1.2;
    font-weight: 600;
    color: $blue;

    @include breakpoint(laptop) {
      font-size: 2.6rem;
    }

    @include breakpoint(small-tablet) {
      font-size: 2rem;
    }
  }

  &__range {
    margin: 2rem 0 1rem;
  }

  &__range-label {
    font-size: 1.4rem;
    line-height: 1.2;
    font-weight: 300;
    color: #9397A3;

    @include breakpoint(small-tablet) {
      font-size: 1rem;
    }
  }

  &__text-value {
    font-size: 3.4rem;
    line-height: 1.2;
    font-weight: 600;
    color: $blue;

    @include breakpoint(laptop) {
      font-size: 2.6rem;
    }

    @include breakpoint(small-tablet) {
      font-size: 2rem;
    }
  }

  // ******
  // Result

  &__result-caption {
    display: block;
    margin-top: 4rem;
    margin-bottom: 2.6rem;

    @include breakpoint(small-tablet) {
      margin-top: 2rem;
      margin-bottom: 1rem;
    }
  }

  &__result-block {
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;

    padding: 3rem 4.7rem 4.7rem;

    background: $white;
    border-radius: 1.7rem;

    @include breakpoint(laptop) {
      padding: 3rem;
    }

    @include breakpoint(small-tablet) {
      padding: 1.1rem 1.7rem 2rem;
    }

    &:nth-child(2n+1) {
      box-shadow: 0px 4px 114px -40px rgba(0, 98, 214, 0.34);

      @include breakpoint(tablet) {
        box-shadow: 0px 4px 114px -40px rgba(0, 98, 214, 0.34);
      }

      .calculator__result-feature {
        color: $blue;
        background-color: rgba(#6AEDF5, 0.15);
      }
    }

    &:nth-child(2n+2) {
      box-shadow: 0px 4px 134px -40px rgba(208, 115, 29, 0.3);

      @include breakpoint(tablet) {
        box-shadow: 0px 4px 114px -40px rgba(0, 98, 214, 0.34);
      }

      .calculator__result-feature {
        color: $orange;
        background-color: rgba($orange, 0.15);
      }
    }
  }

  &__accordion-icon {
    display: none;

    width: 1.2rem;
    height: 0.7rem;

    transition: transform $btt $bte;

    @include breakpoint(tablet) {
      display: block;
    }
  }

  &__result-title-btn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;

    margin-bottom: 1.2rem;

    cursor: default;

    @include breakpoint(tablet) {
      width: 100%;
      
      cursor: pointer;
    }

    svg {
      fill: $dark;
    }
  }

  &__result-title {
    display: block;

    font-size: 3rem;
    font-weight: 600;
    line-height: 1.2;

    @include breakpoint(laptop) {
      font-size: 2.4rem;
    }
    @include breakpoint(small-tablet) {
      font-size: 1.7rem;
    }
  }

  &__result-feature {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 0.5rem;

    width: fit-content;
    margin-bottom: 3rem;
    padding: 0.6rem 1rem;
    border-radius: 7px;

    font-size: 1.5rem;
    font-weight: 600;
    line-height: 1;
    letter-spacing: 0.6px;
    text-transform: uppercase;

    @include breakpoint(laptop) {
      font-size: 1.2rem;
    }

    @include breakpoint(tablet) {
      margin-bottom: 1.6rem;
      font-size: 1rem;
    }

    @include breakpoint(small-tablet) {
      padding: 0.4rem 0.4rem;
      margin-bottom: 0.5rem;

      font-size: 0.8rem;
    }

    svg {
      flex-shrink: 0;

      width: 1.5rem;
      height: 1.5rem;

      @include breakpoint(small-tablet) {
        width: 0.7rem;
        height: 0.7rem;
      }
    }
  }

  &__result-items {
    display: grid;
    grid-template-columns: 3fr 5fr;
    gap: 1rem;

    margin-bottom: 4rem;

    @include breakpoint(tablet) {
      margin-bottom: 2rem;

      .calculator__result-item:nth-child(1) {
        order: 2;
      }
    }

    @include breakpoint(tablet) {
      grid-template-columns: 1fr;
      gap: 0.8rem;

      margin-bottom: 1.6rem;
    }
  }

  &__result-item {
    flex-shrink: 0;

    @include breakpoint(tablet) {
      display: flex;
      align-items: flex-end;
      justify-content: space-between;
    }
  }

  &__result-label {
    display: block;
    margin-bottom: 0.5rem;

    font-size: 1.9rem;
    font-weight: 400;
    line-height: 1;
    color: #9397A3;

    @include breakpoint(laptop) {
      font-size: 1.3rem;
    }
  }

  &__result-value {
    display: block;
    width: max-content;

    font-size: 4.2rem;
    font-weight: 600;
    line-height: 1;

    &--star {
      &::after {
        content: '*';
        font-size: 4.2rem;

        @include breakpoint(laptop) {
          font-size: 3.2rem;
        }
    
        @include breakpoint(tablet) {
          font-size: 2.4rem;
        }
    
        @include breakpoint(small-tablet) {
          font-size: 1.8rem;
        }
      }
    }

    @include breakpoint(laptop) {
      font-size: 3.2rem;
    }

    @include breakpoint(tablet) {
      font-size: 2.4rem;
    }

    @include breakpoint(small-tablet) {
      font-size: 1.8rem;
    }
  }

  &__button {
    min-height: 6.2rem;
    width: 100%;

    @include breakpoint(tablet) {
      min-height: 4.6rem;

      font-size: 1.3rem;
    }

    &.button {
      background: rgba(0,0,0,0);
      color: $orange;

      &:hover {
        background-color: $orange;
        color: $white;
        border-color: $orange;
      }
      &:focus-visible {
        background-color: $orange;
        color: $white;
        border-color: $orange;
      }
    }

    &.blue-btn {
      color: $blue;

      @include breakpoint(tablet) {
        padding: 1.1rem 1.5rem;
      }

      &:hover {
        background-color: $blue;
        color: $white;
        border-color: $blue;
      }
      &:focus-visible {
        background-color: $blue;
        color: $white;
        border-color: $blue;
      }
    }
  }

  &__mini-link {
    display: block;
    margin: 1.4rem auto 0;

    font-size: 1.3rem;
    font-weight: 400;
    line-height: 1.2;
    color: #9397A3;

    text-decoration: underline;
  }
}

.js-calculator-accordion-content {
  @include breakpoint(tablet) {
    overflow: hidden;
    height: 0;
  }
}

.js-calculator-accordion.active {
  z-index: 2;

  .js-calculator-accordion-btn .calculator__accordion-icon {
    transform: rotate(180deg);
  }

  .js-calculator-accordion-content {
    height: auto;
    // todo
  }
}

.js-calculator-accordion-content {
  @include breakpoint(tablet) {
    overflow: hidden;
    height: 2.4rem;
  }

  @include breakpoint(small-tablet) {
    overflow: hidden;
    height: 1.8rem;
  }
}

.calculator {
  .noUi-connect {
    background-color: $blue;
  }
  .noUi-horizontal {
    height: 1.2rem;

    cursor: pointer;

    @include breakpoint(laptop) {
      height: 0.9rem;
    }
  }

  .noUi-target {
    border-radius: 7rem;
    background-color: #E4E4E4;
    border: none;
    box-shadow: none;
  }

  .noUi-horizontal .noUi-handle {
    right: -1.7rem;
    top: -1.1rem;

    width: 3.5rem;
    height: 3.5rem;

    @include breakpoint(laptop) {
      right: -1.5rem;
      top: -1rem;

      height: 2.8rem;
      width: 2.8rem;
    }
  }

  .noUi-handle {
    border-radius: 50%;
    border: 0.2rem solid #7EECF3;
    background-color: $blue;
    box-shadow: none;

    cursor: pointer;
  }

  .noUi-handle::before {
    content: none;
  }

  .noUi-handle::after {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 1.8rem;
    height: 1.8rem;

    border-radius: 50%;

    background-color: white;
  }

  .noUi-touch-area {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.calculator {
  .choices {
    margin-top: 3.2rem;
    margin-bottom: 0;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1.2;
    text-transform: uppercase;
    letter-spacing: 0.6px;

    border-radius: 1rem;

    @include breakpoint(tablet) {
      font-size: 1.2rem;
    }

    * {
      font-size: inherit;
    }
  }

  .choices__inner {
    padding: 1.5rem 2.4rem;
    background-color: $white;
    border: none;
    min-height: unset;
    font-size: inherit;
    border-radius: 1rem;

    @include breakpoint(small-tablet) {
      padding: 1.7rem;
    }
  }

  .choices[data-type*=select-one] .choices__inner {
    padding-bottom: 1.5rem;
  }

  .choices__list--single {
    padding: 0;
  }

  .choices__list--dropdown {
    border: none;
    box-shadow: 0 4px 34px rgb(0 0 0 / 5%);
    z-index: 10;
    border-radius: 1rem;

    top: calc(100% + 2.4rem);
    opacity: 0;

    transition: opacity $btt $bte, visibility $btt $bte;

    &.is-active {
      opacity: 1;
    }

    .choices__item--selectable.is-highlighted {
      color: $blue;
      background-color: #F9F9F9;
    }
  }

  .choices__list--dropdown .choices__item {
    padding: 1.5rem 2.4rem;

    @include breakpoint(small-tablet) {
      padding: 1.7rem;
    }
  }

  .choices__item--selectable {
    transition: color $btt $bte, background-color $btt $bte;
  }

  .choices__item--selectable.is-selected {
    opacity: 0.75;
  }

  .choices[data-type*=select-one]::after {
    border: none;
    margin-top: 0;
    right: 2.4rem;
    transform-origin: center center;
    transform: translateY(-50%);

    width: 1.2rem;
    height: 0.7rem;

    transition: transform $btt $bte;

    background-image: url(../img/icons/arrow-bottom.svg);
    background-size: contain;
    background-repeat: no-repeat;

    @include breakpoint(small-tablet) {
      right: 1.7rem;
    }
  }

  .choices[data-type*=select-one].is-open::after {
    transform: translateY(-50%) rotate(180deg);
  }
}