.faq-item {
  padding: 1.5rem 3rem;

  border: 0.1rem solid $blue;
  border-radius: 1.4rem;

  @include breakpoint(tablet) {
    padding: 1.2rem 1.8rem;
  }

  &.active .faq-item__btn {
    color: $blue;

    svg {
      transform: rotate(45deg);
      fill: $blue;
    }
  }

  &__btn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;

    width: 100%;

    font-size: 2.4rem;
    line-height: 1.2;
    font-weight: 500;
    text-align: left;

    @include breakpoint(tablet) {
      font-size: 1.8rem;
    }

    svg {
      flex-shrink: 0;

      width: 1.8rem;
      height: 1.8rem;

      fill: #9397A3;
      transform-origin: center center;
      transition: fill $btt $bte, transform $btt $bte;
    }
  }

  &__content {
    overflow: hidden;
  }

  &__content-inner {
    padding: 1.8rem 0;

    font-weight: 500;

    @include breakpoint(tablet) {
      font-size: 1.5rem;

      padding: 1rem 0 0;
    }
  }
}