.list-tabs {

  &__inner {
    display: grid;
    grid-template-columns: 37rem auto;
    gap: 4rem;

    @include breakpoint(tablet) {
      grid-template-columns: 1fr;
      gap: 2.4rem;
    }
  }

  &__title {
    max-width: 80rem;
    margin-bottom: 7rem;

    font-size: 5.4rem;
    line-height: 1.2;
    font-weight: 500;

    @include breakpoint(desktop) {
      margin-bottom: 4.8rem;
      font-size: 3.2rem;
    }

    @include breakpoint(tablet) {
      margin-bottom: 2.6rem;
      font-size: 2.4rem;
    }
  }

  &__tabs-wrapper {
    min-width: 0;
  }

  &__tabs {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 3.2rem;

    margin-bottom: 8rem;

    @include breakpoint(tablet) {
      gap: unset;
      flex-direction: row;

      margin-bottom: 0;
    }
  }

  &__tab-wrapper {
    @include breakpoint(tablet) {
      position: relative;
    }

    &::before {
      content: none;
      position: absolute;
      bottom: -0.8rem;

      width: calc(100% + 2.4rem);
      height: 0.1rem;

      background-color: #E0E0E0;

      @include breakpoint(tablet) {
        content: '';
      }

      @include breakpoint(mobile) {
        width: calc(100% + 1.4rem);
      }
    }

    &::after {
      content: '';
      position: absolute;
      bottom: -0.8rem;

      width: 100%;
      height: 0.1rem;

      background-color: $blue;

      opacity: 0;

      transition: opacity $btt $bte;
    }

    &.parent-active::after {
      opacity: 1;
    }
  }

  &__tab {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 1.6rem;

    width: fit-content;

    font-size: 3rem;
    line-height: 1.2;
    font-weight: 600;
    color: #9397A3;
    text-align: left;

    transition: color $btt $bte, background-color $btt $bte, border-color $btt $bte;

    @include breakpoint(tablet) {
      padding-bottom: 0.8rem;

      font-size: 1.6rem;
      color: #9397A3;
    }

    &.active {
      color: $blue;

      svg {
        opacity: 1;
      }
    }

    svg {
      margin-top: 0.6rem;
      width: 2.5rem;
      height: 2.5rem;

      stroke: $blue;

      opacity: 0;

      transition: opacity $btt $bte;

      @include breakpoint(tablet) {
        display: none;
      }
    }
  }

  &__tab-label {
  }

  &__bodies {
    position: relative;
  }

  &__body-wrapper {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;

    opacity: 0;
    visibility: hidden;

    transition: opacity $btt $bte, visibility $btt $bte;

    &.active {
      position: static;

      opacity: 1;
      visibility: visible;
    }
  }

  &__body {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 3.5rem;
    column-gap: 8rem;

    padding: 3.5rem 5rem 5rem 8rem;

    background: #F9F9F9;
    border-radius: 2rem;

    list-style: disc;

    font-size: 2rem;
    line-height: 1.2;
    font-weight: 400;

    @include breakpoint(desktop) {
      row-gap: 3rem;
      column-gap: 3rem;

      padding: 3.5rem 4rem 4rem 6rem;

      font-size: 1.5rem;
    }
    @include breakpoint(small-tablet) {
      grid-template-columns: 1fr;
      gap: 1.2rem;
      padding: 1.2rem 1.4rem 1.8rem 3.5rem;
    }
  }

  &__order-btn {
    width: 100%;

    background-color: $blue;
    color: $white;

    @include breakpoint(tablet) {
      display: none;
    }

    &:hover {
      background-color: white;
      color: $blue;
      border-color: $blue;
    }
    &:focus-visible {
      background-color: white;
      color: $blue;
      border-color: $blue;
    }
  }

  .swiper {
    width: 100%;
    overflow: visible;
  }

  .swiper-wrapper {
    height: unset;

    @include breakpoint(tablet) {
      height: 100%;
    }
  }

  .swiper-slide {
    width: auto;
  }
}