.mini-reviews {
  display: flex;
  flex-direction: column;

  padding: 7rem 0;
  background-color: #F9F9F9;
  min-height: 73rem;

  @include breakpoint(tablet) {
    padding-top: 3.2rem;
    padding-bottom: 10rem;
  }

  .container {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
  }

  &__inner {
    flex-grow: 1;

    position: relative;
  }

  &__title {
    position: relative;
    z-index: 3;

    margin-bottom: 4rem;
    max-width: 49rem;

    font-size: 5.4rem;
    font-weight: 600;
    line-height: 1.2;

    @include breakpoint(desktop) {
      margin-bottom: 2rem;
      font-size: 3.2rem;
    }

    @include breakpoint(tablet) {
      margin-bottom: 1rem;
      font-size: 2.4rem;
    }
  }

  &__subtitle {
    position: relative;
    z-index: 3;

    max-width: 34.5rem;

    font-size: 2rem;
    font-weight: 500;
    line-height: 1.2;
    color: #8E9098;

    @include breakpoint(desktop) {
      font-size: 1.6rem;
    }
  }

  &__list {
    position: absolute;
    top: 0;
    left: 36rem;
    right: 0;
    bottom: 0;

    @include breakpoint(tablet) {
      position: relative;
      left: 0;

      display: flex;
      flex-direction: column;
      align-items: stretch;
      justify-content: flex-start;
      gap: 8.4rem;

      margin-top: 4rem;
    }
  }

  &__item {
    position: absolute;

    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 1rem;

    max-width: 36rem;

    @include breakpoint(desktop) {
      max-width: 28rem;
    }
    @include breakpoint(tablet) {
      position: relative;
    }
    @include breakpoint(mobile) {
      max-width: 23rem;
    }

    &::before {
      content: '';

      position: absolute;
      z-index: 2;

      background-repeat: no-repeat;
      background-size: contain;

      @include breakpoint(desktop) {
        transform: scale(0.8);
      }
    }

    &:nth-child(1) {
      display: flex;
      top: 18%;
      left: 24%;

      @include breakpoint(tablet) {
        top: 0;
        left: 9%;
      }

      &::before {
        top: -9rem;
        left: -7.2rem;

        width: 31.1rem;
        height: 27.1rem;

        background-image: url('../img/content-icons/mini-review-1.svg');

        @include breakpoint(tablet) {
          top: -5.7rem;
          left: -5.2rem;

          width: 21.1rem;
          height: 18rem;
        }
      }
    }

    &:nth-child(2) {
      display: flex;

      top: 30%;
      left: 70.4%;

      @include breakpoint(tablet) {
        top: 0;
        left: 33.8%;
      }

      &::before {
        top: -10.2rem;
        left: -8.1rem;

        width: 31.7rem;
        height: 30rem;

        background-image: url('../img/content-icons/mini-review-2.svg');

        @include breakpoint(tablet) {
          top: -6.2rem;
          left: -4.4rem;

          width: 21.7rem;
          height: 20.5rem;
        }
      }
    }

    &:nth-child(3) {
      display: flex;

      top: 59.4%;
      left: 0rem;

      @include breakpoint(tablet) {
        top: 0;
        left: 21.3%;
      }

      &::before {
        top: -6.4rem;
        left: -11.7rem;

        width: 32rem;
        height: 29.5rem;

        background-image: url('../img/content-icons/mini-review-3.svg');

        @include breakpoint(tablet) {
          top: -3.8rem;
          left: -9rem;

          width: 21rem;
          height: 19.3rem;
        }
      }
    }

    &:nth-child(4) {
      display: flex;
      max-width: 27.8rem;

      top: 64.4%;
      left: 46.5%;

      color: $orange;

      @include breakpoint(large-desktop) {
        max-width: 22rem;
      }

      @include breakpoint(tablet) {
        top: 0;
        left: 37.3%;
      }

      @include breakpoint(desktop) {
        max-width: 20rem;
      }
      @include breakpoint(tablet) {
        max-width: 15rem;
        margin-top: 5rem;
      }

      &::before {
        top: -8.2rem;
        left: -4.7rem;

        width: 47.9rem;
        height: 26.1rem;

        background-image: url('../img/content-icons/mini-review-4.svg');

        @include breakpoint(large-desktop) {
          top: -6.2rem;
        }

        @include breakpoint(desktop) {
          top: -8rem;
          left: -6rem;

          width: 40rem;
          height: 20rem;
        }
      }
    }
  }

  &__item-text {
    position: relative;
    z-index: 3;

    font-size: 2.4rem;
    font-weight: 500;
    line-height: 1.2;

    @include breakpoint(large-desktop) {
      font-size: 2rem;
    }
    @include breakpoint(laptop) {
      font-size: 1.8rem;
    }
    @include breakpoint(tablet) {
      font-size: 1.5rem;
    }
  }

  &__item-author {
    position: relative;
    z-index: 3;

    font-size: 2rem;
    font-weight: 400;
    line-height: 1.2;
    opacity: 0.5;

    @include breakpoint(desktop) {
      font-size: 1.5rem;
    }
  }
}