.steps-and-terms {

  padding-bottom: 2rem;

  @include breakpoint(tablet) {
    padding-bottom: 0;
  }

  &__inner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 4rem;

    @include breakpoint(tablet) {
      grid-template-columns: 1fr;
      gap: 2rem;
    }
    @include breakpoint(small-tablet) {
      gap: 1rem;
    }
  }

  &__block {
    padding: 3.2rem 5rem 6.8rem;
    border-radius: 3rem;

    @include breakpoint(desktop) {
      padding: 3rem 4rem 4rem;
    }
    @include breakpoint(small-tablet) {
      padding: 1.6rem 2.5rem 3.2rem;
    }
  }

  &__steps-block {
    background: #E9FDFE;
  }

  &__title {
    margin-bottom: 3.2rem;

    font-size: 3rem;
    font-weight: 600;
    line-height: 1.2;

    @include breakpoint(desktop) {
      font-size: 2.4rem;
    }
    @include breakpoint(tablet) {
      margin-bottom: 2.4rem;
    }
  }

  &__steps {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 4.5rem;

    @include breakpoint(tablet) {
      gap: 3rem;
    }
    @include breakpoint(small-tablet) {
      gap: 2.4rem;
    }
  }

  &__step-wrapper {

  }

  &__step {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 2.5rem;

    @include breakpoint(tablet) {
      gap: 1rem;
    }

    &[data-hystmodal] {
      cursor: pointer;

      .steps-and-terms__step-title {
        transition: color $btt $bte;
      }

      &:hover {
        .steps-and-terms__step-title {
          color: $blue;
        }
      }
    }
  }

  &__step-image-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 6rem;
    height: 6rem;

    border-radius: 50%;

    background-color: $white;

    @include breakpoint(tablet) {
      width: 4.5rem;
      height: 4.5rem;
    }
  }

  &__step-image {
    width: 3rem;
    height: 3rem;

    object-fit: contain;

    @include breakpoint(tablet) {
      width: 2.2rem;
      height: 2.2rem;
    }
  }

  &__step-text {
    align-self: center;
    
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 0.8rem;

    @include breakpoint(tablet) {
      gap: 0.4rem;
    }
  }

  &__step-title {
    font-size: 2rem;
    font-weight: 700;
    line-height: 1.2;

    @include breakpoint(desktop) {
      font-size: 1.8rem;
    }
    @include breakpoint(tablet) {
      font-size: 1.5rem;
    }
  }

  &__step-subtitle {
    font-size: 2rem;
    font-weight: 500;
    line-height: 1.2;
    color: #9397A3;

    @include breakpoint(desktop) {
      font-size: 1.8rem;
    }
    @include breakpoint(tablet) {
      font-size: 1.5rem;
    }
  }

  &__terms-block {
    background: #F9F9F9;
  }

  &__terms {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 1.5rem;

    counter-reset: cnt;
  }

  &__term {
    counter-increment: cnt;

    position: relative;

    padding-left: 7rem;
    padding-top: 1rem;
    padding-bottom: 1rem;

    font-size: 2rem;
    font-weight: 700;
    line-height: 1.2;

    @include breakpoint(desktop) {
      padding-left: 6rem;
      font-size: 1.8rem;
    }
    @include breakpoint(tablet) {
      padding-left: 4rem;
      padding-top: 0.7rem;
      padding-bottom: 0.7rem;

      font-size: 1.5rem;
    }

    &::before {
      content: '';

      position: absolute;
      top: 0;
      left: 0;

      width: 4.5rem;
      height: 4.5rem;

      border-radius: 50%;
      background-color: $white;

      @include breakpoint(desktop) {
        width: 4rem;
        height: 4rem;
      }
      @include breakpoint(tablet) {
        top: 0.2;

        width: 3.2rem;
        height: 3.2rem;
      }
    }

    &::after {
      content: counter(cnt);

      position: absolute;
      top: 1rem;
      left: 1.8rem;

      font-size: 2rem;
      font-weight: 700;
      line-height: 1.2;
      color: $blue;

      @include breakpoint(desktop) {
        top: 0.9rem;
        left: 1.6rem;

        font-size: 1.8rem;
      }
      @include breakpoint(tablet) {
        top: 0.6rem;
        left: 1.2rem;
        
        font-size: 1.6rem;
      }
    }
  }
}