.button {
  display: flex;
  align-items: center;
  justify-content: center;
  
  padding: 1.1rem 1.5rem;
  border: 0.1rem solid $orange;

  border-radius: 0.8rem;

  font-weight: 700;
  font-size: 1.5rem;
  line-height: 1;
  text-transform: uppercase;
  color: $white;

  background-color: $orange;

  transition: color $btt $bte, background-color $btt $bte;

  &--large {
    padding: 1.5rem 3.4rem;
  }

  &:hover {
    color: $orange;
    background-color: rgba(0,0,0,0);
  }

  &:focus-visible {
    color: $orange;
    background-color: rgba(0,0,0,0);
  }
}

.black-btn {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  min-height: 7rem;

  border-radius: 0.8rem;

  background-color: $dark;
  color: white;
  text-transform: uppercase;
  font-size: 1.5rem;
  line-height: 1;
  font-weight: 700;

  transition: background-color $btt $bte, opacity $btt $bte;

  @include breakpoint(tablet) {
    min-height: 6rem;
  }

  &:hover {
    background-color: $orange;
  }

  &:focus-visible {
    background-color: $orange;
  }

  &.disabled {
    pointer-events: none;
    cursor: default;
    opacity: 0.6;

    &:hover {
      background-color: $dark;
    }

    &:focus-visible {
      background-color: $dark;
    }
  }
}

.blue-btn {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 0 7rem;
  width: fit-content;
  min-height: 6.2rem;

  border-radius: 0.8rem;
  border: 0.1rem solid $blue;

  text-transform: uppercase;
  font-size: 1.5rem;
  line-height: 1;
  font-weight: 700;

  transition: color $btt $bte, border-color $btt $bte, background-color $btt $bte;

  &:link,
  &:visited {
    color: $blue;
  }

  &:hover {
    border-color: $orange;
    color: $orange;
  }

  &:focus-visible {
    border-color: $orange;
    color: $orange;
  }
}

.checkbox-container {
  position: relative;
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  
  padding-left: 3rem;

  cursor: pointer;
  user-select: none;

  &.parsley-error .checkmark {
    border-color: $error;
  }

  input {
    position: absolute;
    
    height: 0;
    width: 0;

    opacity: 0;
    cursor: pointer;

    &:checked ~ .checkmark:after {
      visibility: visible;
      opacity: 1;
    }

    &:focus ~ .checkmark {
      outline: 0.2rem dotted $orange;
      outline-offset: 0.2rem;
    }
  }

  .checkmark {
    position: absolute;
    top: 0;
    left: 0;

    height: 2rem;
    width: 2rem;

    background-color: $transparent;
    border: 0.2rem solid $dark;
    border-radius: 0.2rem;

    transition: background-color $btt $bte, border-color $btt $bte;

    &:after {
      content: "";

      position: absolute;
      left: 0.5rem;
      top: 0.2rem;
      transform: rotate(45deg);

      display: block;
      width: 0.6rem;
      height: 1rem;

      border: solid $dark;
      border-width: 0 0.2rem 0.2rem 0;
      border-radius: 0.1rem;

      visibility: hidden;
      opacity: 0;
      transition: visibility $btt $bte, opacity $btt $bte;
    }
  }
}

.breadcrumbs {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 1.4rem;
  row-gap: 0.6rem;

  color: $light-grey;

  @include breakpoint(mobile) {
    display: none;
  }

  &__link-wrapper {
    position: relative;

    &::after {
      content: '';
      position: absolute;
      right: -1rem;
      top: 50%;
      transform: translateY(-50%);

      width: 0.6rem;
      height: 0.1rem;

      background-color: $light-grey;
    }

    &:last-of-type {
      pointer-events: none;
      
      &::after {
        content: none;
      }
    }
  }

  &__link {
    display: block;

    font-size: 1.2rem;
    text-transform: uppercase;
    font-weight: 400;

    &:hover {
      color: $orange;
    }
    &:focus-visible {
      color: $orange;
    }
  }
}

.text {
  &__inner {
    max-width: 108rem;
    
    font-size: 2.4rem;

    @include breakpoint(tablet) {
      font-size: 1.6rem;
    }
  }
}

// ******
// Tooltip

.tip {
  flex-shrink: 0;

  position: relative;

  width: fit-content;

  &:hover {
    .tip__content {
      opacity: 1;
      visibility: visible;
    }

    .tip__shadow {
      @include breakpoint(tablet) {
        opacity: 0.6;
        visibility: visible;
      }
    }

    .tip__opener-label {
      color: $dark;
    }

    svg {
      opacity: 1;
    }
  }

  svg {
    flex-shrink: 0;
    width: 1.9rem;
    height: 1.9rem;

    opacity: 0.4;
    transition: opacity $btt $bte;

    @include breakpoint(tablet) {
      display: none;
    }
  }

  &__opener-label {
    display: none;

    font-size: 1.3rem;
    font-weight: 400;
    line-height: 1.2;
    color: #9397A3;
    text-decoration: underline;

    transition: color $btt $bte;

    @include breakpoint(tablet) {
      display: block;
    }
  }

  &__shadow {
    content: '';

    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 15;

    background-color: #000;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    user-select: none;
  }

  &__content {
    position: absolute;
    left: 50%;
    top: calc(100% + 1.4rem);
    transform: translateX(-50%);
    z-index: 16;

    width: 33.6rem;
    padding: 2rem;

    background: #F8F8F7;
    border: 0.1rem solid #EBEBEC;
    filter: drop-shadow(0px 4px 34px rgba(0, 0, 0, 0.1));
    border-radius: 0.4rem;

    opacity: 0;
    visibility: hidden;

    transition: opacity $btt $bte, visibility $btt $bte;

    @include breakpoint(tablet) {
      position: fixed;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    &::after {
      content: '';
      position: absolute;
      top: -1rem;
      left: 50%;
      transform: translateX(-50%) rotate(45deg);
      z-index: 5;

      width: 1.6rem;
      height: 1.6rem;

      background: #F8F8F7;
      border-left: 0.1rem solid #EBEBEC;
      border-top: 0.1rem solid #EBEBEC;
      border-radius: 0.4rem;

      font-size: 1.4rem;
      font-weight: 300;
      line-height: 1.2;

      @include breakpoint(tablet) {
        display: none;
      }
    }
  }
}

.slider-navigation {

  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 2rem;

  &__btn {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 4.8rem;
    height: 4.8rem;

    border-radius: 50%;
    border: 0.2rem solid $blue;

    transition: border-color $btt $bte;

    &:hover {
      border-color: $orange;
      svg {
        fill: $orange;
      }
    }

    &:focus-visible {
      border-color: $orange;
      svg {
        fill: $orange;
      }
    }

    svg {
      width: 1.1rem;
      height: 2rem;
      margin-right: 0.3rem;

      fill: $blue;

      transform-origin: center center;
    }
  }

  &__btn--prev {
    
  }

  &__btn--next {
    svg {
      transform: rotate(180deg);
      margin-right: 0;
      margin-left: 0.3rem;
    }
  }
}

.select {

  border-radius: 2rem;
  border: 0.1rem solid $blue;

  &.active {
    .select__button svg {
      transform: rotate(180deg);
    }
  }

  &__button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;

    width: 100%;
    padding: 2.2rem 3.5rem 2.6rem;

    font-size: 2rem;
    font-weight: 400;
    line-height: 1.2;

    border-radius: 2rem;

    transition: background-color $btt $bte;

    &:hover {
      background-color: #F9F9F9;
    }
    &:focus-visible {
      background-color: #F9F9F9;
    }

    svg {
      transform-origin: center center;
      transition: transform $btt $bte;

      margin-top: 0.5rem;
      width: 1.9rem;
      height: 1.2rem;

      fill: $blue;
    }
  }

  &__button-label {
  }

  &__content {
    overflow: hidden;
  }

  &__list {
    // overflow-y: auto;
    // overflow-x: visible;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

    margin-bottom: 3rem;
    // margin: 0 3.5rem 3rem;
    // max-height: 30rem;

    font-size: 2rem;
    font-weight: 400;
    line-height: 1.2;

    @include customScrollbar;
  }

  &__item {
    cursor: pointer;
    transition: color $btt $bte, background-color $btt $bte;

    width: 100%;
    padding: 0.7rem 3.5rem;

    &:hover {
      color: $blue;
      background-color: #F9F9F9;
    }

    &.active {
      opacity: 0.7;
    }
  }
}