<div class="container">
  <ul class="breadcrumbs">
    {{#each breadcrumbs}}
    <li class="breadcrumbs__link-wrapper">
      <a class="breadcrumbs__link" href="{{this.link}}">{{this.name}}</a>
    </li>
    {{/each}}
  </ul>
</div>