<div class="calculator__inner js-init-calculator" data-name="{{data.name}}">
  <form class="calculator__form" action="#" name="calculator">
    {{#if data.title}}
      <h2 class="calculator__title">{{data.title}}</h2>
    {{/if}}
    <div class="calculator__cols">

      <div class="calculator__range-block js-range-slider-container" id="sum-range" data-start="100000" data-min="80000" data-max="1000000" data-step="10000">
        <div class="calculator__range-block-group">
          <span class="calculator__caption">Сумма займа</span>
          <div class="calculator__input-wrapper">
            <input class="calculator__input js-range-input" type="text" name="sum" value="" autocomplete="off">
            <span class="calculator__input-label">₽</span>
          </div>
        </div>
        <div class="calculator__range js-range-elem"></div>
        <div class="calculator__range-block-group">
          <span class="calculator__range-label js-min-label"></span>
          <span class="calculator__range-label js-max-label"></span>
        </div>
      </div>

      <div class="calculator__range-block js-range-slider-container" id="month-range" data-start="12" data-min="2" data-max="12" data-step="1">
        <input class="js-range-input" type="hidden" name="month">
        <div class="calculator__range-block-group">
          <span class="calculator__caption">Срок займа</span>
          <span class="calculator__text-value js-range-value"></span>
        </div>
        <div class="calculator__range js-range-elem"></div>
        <div class="calculator__range-block-group">
          <span class="calculator__range-label js-min-label"></span>
          <span class="calculator__range-label js-max-label"></span>
        </div>
      </div>

    </div>

    {{#if data.select}}
    <select class="calculator__select js-custom-select" name="purpose">
      <option value="1" selected>Выберите цель займа</option>
      <option value="2">Цель 1</option>
      <option value="3">Цель 2</option>
      <option value="4">Цель 3</option>
    </select>
    {{else}}
    <hr>
    {{/if}}



    <div class="calculator__result-caption">
      <span class="calculator__caption">Тип платежа</span>
    </div>

    <div class="calculator__cols">



      <div class="calculator__result-block js-calculator-accordion" data-close-other>
        <div class="calculator__result-title-block">
          <button class="calculator__result-title-btn js-calculator-accordion-btn" type="button">
            <span class="calculator__result-title">Дифференцированный</span>
            <svg class="calculator__accordion-icon"><use xlink:href="#arrow-bottom"></svg>
          </button>
          {{>tip label="Что такое дифференцированный платеж?" text="<p>Дифференцированный платеж"}}
        </div>
        <div class="calculator__result-feature">
          <svg><use xlink:href="#time-five"></svg>
          <span>Оплата долга в конце</span>
        </div>
        <div class="js-calculator-accordion-content">
          <div class="calculator__result-items">
            <div class="calculator__result-item">
              <span class="calculator__result-label">Ставка</span>
              <span class="calculator__result-value js-diff-rate-value"></span>
            </div>
            <div class="calculator__result-item">
              <span class="calculator__result-label">Ежемесячный платеж от</span>
              <span class="calculator__result-value calculator__result-value--star js-diff-payment-value"></span>
            </div>
          </div>
          <button class="blue-btn calculator__button js-submit-button" id="diff" type="button">Оставить заявку</button>
          <button class="calculator__mini-link" data-hystmodal="#table" type="button">* график платежей</button>
        </div>
      </div>



      <div class="calculator__result-block js-calculator-accordion active" data-close-other>
        <div class="calculator__result-title-block">
          <button class="calculator__result-title-btn js-calculator-accordion-btn" type="button">
            <span class="calculator__result-title">Аннуитетный</span>
            <svg class="calculator__accordion-icon"><use xlink:href="#arrow-bottom"></svg>
          </button>
          {{>tip label="Что такое аннуитетный платеж?" text="<p>Аннуитетный платеж — ежемесячная сумма к оплате будет состоять преимущественно из суммы процентов, основная сумма долга погашается в конце периода</p>"}}
        </div>
        <div class="calculator__result-feature">
          <svg><use xlink:href="#coins"></svg>
          <span>Меньше сумма переплаты</span>
        </div>
        <div class="js-calculator-accordion-content">
          <div class="calculator__result-items">
            <div class="calculator__result-item">
              <span class="calculator__result-label">Ставка</span>
              <span class="calculator__result-value js-ann-rate-value"></span>
            </div>
            <div class="calculator__result-item">
              <span class="calculator__result-label">Ежемесячный платеж</span>
              <span class="calculator__result-value js-ann-payment-value"></span>
            </div>
          </div>
          <button class="button calculator__button js-submit-button" id="ann" type="button">Оставить заявку</button>
        </div>
      </div>



    </div>
  </form>
</div>