<section class="documents">
  <div class="container">
    <div class="documents__inner">
      <h2 class="documents__title">{{data.title}}</h2>
      <ul class="documents__list">
        {{#each data.documents}}
        <li class="documents__list-item">
          {{>document-item data=this}}
        </li>
        {{/each}}
      </ul>
    </div>
  </div>
</section>