<form class="form js-handle-form" action="#" name="{{name}}" data-need-validation>

  <label class="form__input-wrapper js-validator-wrapper">
    <span class="form__input-placeholder">Номер телефона</span>
    <input class="form__input js-input js-phone-input" name="phone" type="tel" required>
  </label>

  <button class="black-btn form__submit js-submit-form" type="submit">Отправить</button>

  <label class="checkbox-container form__policy js-validator-wrapper">
    <div class="form__policy-text">
      Я согласен на обработку <a href="./policy.html" target="_blank">персональных данных</a>
    </div>
    <input class="js-input" type="checkbox" name="policy" checked required>
    <span class="checkmark"></span>
  </label>
</form>