<a class="link" href="{{data.link}}">
  <div class="link__text">
    <span class="link__title">{{{data.name}}}</span>
    <svg><use xlink:href="#arrow-right"></svg>
  </div>
  <img class="link__image lazyload" src="{{data.image}}" alt="{{data.name}}">
</a>