<section class="list-tabs js-init-tabs">
  <div class="container">
    <h2 class="list-tabs__title">Особенности выдачи займов под залог авто и ПТС</h2>
    <div class="list-tabs__inner">
      <div class="list-tabs__tabs-wrapper">
        <div class="swiper js-init-slider-tabs">
          <ul class="swiper-wrapper list-tabs__tabs">
            {{#each listTabs}}
            <li class="swiper-slide list-tabs__tab-wrapper {{#if this.active}}parent-active{{/if}}">
              <button class="list-tabs__tab js-tab-btn {{#if this.active}}active{{/if}}" type="button">
                <span class="list-tabs__tab-label">{{this.title}}</span>
                <svg><use xlink:href="#arrow-right"></svg>
              </button>
            </li>
            {{/each}}
          </ul>
        </div>
        <button class="blue-btn list-tabs__order-btn" type="button" data-hystmodal="#order">Оставить заявку</button>
      </div>
      <ul class="list-tabs__bodies">
        {{#each listTabs}}
          <li class="list-tabs__body-wrapper js-tab-body {{#if this.active}}active{{/if}}">
            <ul class="list-tabs__body">
              {{#each this.items}}
              <li>
                {{this.text}}
              </li>
              {{/each}}
            </ul>
          </li>
        {{/each}}
      </ul>
    </div>
  </div>
</section>