<section class="mini-text">
  <div class="container">
    <div class="mini-text__inner">
      <h2 class="mini-text__title">Нас выбирают, потому что</h2>
      <div class="mini-text__text">
        <p>Какой-то блок текста про Оформление займов под авто без справок в Москве.Какой-то блок текста про Оформление займов под авто без справок в Москве.Какой-то блок текста про Оформление займов под авто без справок в Москве.</p>
      </div>
    </div>
  </div>
</section>