<div class="container">
  <div class="page-title">
    <h1 class="page-title__title">{{title}}</h1>
    {{#if subtitle}}
      <div class="page-title__subtitle">
        {{subtitle}}
      </div>
    {{/if}}
  </div>
</div>