<section class="points">
  <div class="container">
    <div class="points__inner">
      <div class="points__text">
        <h2 class="points__title">Займ на любые цели для вашего бизнеса</h2>
        <div class="points__subtitle">
          <p>Пополнение оборотных средств, на покрытие кассового разрыва или на другие бизнес-цели со сроком от 1 недели до 12 месяцев</p>
        </div>
      </div>

      <div class="points__lists">
          <ul class="points__list">
            {{#each points1}}
              <li class="points__item">
                {{this}}
              </li>
            {{/each}}
          </ul>
          <ul class="points__list">
            {{#each points2}}
              <li class="points__item">
                {{this}}
              </li>
            {{/each}}
          </ul>
        </div>
    </div>
  </div>
</section>