<section class="text">
  <div class="container">
    <div class="text__inner editable-text-container">
      <p>В соответствии с Федеральным законом № 153-ФЗ "О персональных данных" от 27.07.2006 года, даю своё согласие на обработку моих персональных данных ООО Money Help (ОГРН 1135476100870, ИНН 5407487242), расположенному по адресу: 630007, г. Новосибирск, ул. Фабричная, д. 55.</p>
      <br>
      <p>Персональные данные - любая информация, относящаяся к прямо или косвенно определенному или определяемому физическому лицу (субъекту персональных данных). Настоящее согласие выдано мною на обработку следующих персональных данных: Имя, Отчество, Фамилия, Телефон, E-mail, фотография.</p>
      <br>
      <p>Даю согласие ООО Money Help на осуществление следующих действий с моими персональными данными с использованием средств автоматизации и без таковых: сбор, систематизацию, накопление, хранение, уточнение (обновление, изменение), использование, распространение (в т. ч. передачу), обезличивание, блокирование, уничтожение персональных данных и биометрических данных, а также осуществление любых иных действий, предусмотренных законодательством РФ как неавтоматизированными, так и автоматизированными способами.</p>
      <br>
      <p>Данное согласие дается ООО Money Help и третьим лицам для обработки моих персональных данных в следующих целях:</p>
      <br>
      <ul>
        <li>заключения договора</li>
        <li>предоставления мне услуг</li>
        <li>предоставления мне доступа в личный кабинет</li>
        <li>направление в мой адрес уведомлений, касающихся услуг</li>
        <li>подготовка и направление ответов на мои запросы</li>
        <li>направление в мой адрес информации, в том числе рекламной, о мероприятиях, работах и услугах ООО МКК "Ваш инвестор"</li>
        <li>а также в любых других целях, прямо или косвенно связанных с заключением договора и предоставления мне услуг</li>
      </ul>
      <br>
      <p>Я даю согласие на предоставление ООО Money Help всей имеющейся обо мне информацию в объеме, в порядке и на условиях, определенных Федеральным законом «О кредитных историях» № 218-ФЗ от 30 декабря 2004 года, во все бюро кредитных историй, включенные в государственный реестр бюро кредитных историй, а также на получение кредитного отчета из выше указанных бюро для заключения Договора и в течение срока действия Договора.</p>
      <br>
      <p>Я даю согласие на получение мной рекламы, рассылки, в том числе по сети подвижной радиотелефонной связи от ООО Money Help, его контрагентов и аффилированных лиц. </p>
      <br>
      <p>Данное согласие действует до момента его отзыва путем направления соответствующего уведомления на электронный адрес info@vashinvestor.ru В случае отзыва мною согласия на обработку персональных данных ООО Money Help вправе продолжить обработку персональных данных без моего согласия при наличии оснований, указанных в пунктах 2-11 части 1 статьи 6, части 2 статьи 10 и части 2 статьи 11 Федерального закона №153-ФЗ "О персональных данных" от 26.06.2006 г.</p>

      {{>text/test}}
    </div>
  </div>
</section>