<div class="tip">
  <svg><use xlink:href="#tip"></svg>
  <div class="tip__content">
    <p>Аннуитетный платеж — ежемесячная сумма к оплате будет состоять преимущественно из суммы процентов, основная сумма долга погашается в конце периода</p>
  </div>
</div>