<div class="tip">
  <button class="tip__opener" type="button">
    <svg><use xlink:href="#tip"></svg>
    <span class="tip__opener-label">{{label}}</span>
  </button>

  <div class="tip__shadow"></div>
  <div class="tip__content">
    {{{text}}}
  </div>
</div>