<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, viewport-fit=cover">
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta name="format-detection" content="telephone=no">

    <link rel="apple-touch-icon" sizes="180x180" href="assets/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="assets/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="assets/favicon/favicon-16x16.png">
    <link rel="manifest" href="assets/favicon/site.webmanifest">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">

    <meta property="og:type" content="website">
    <meta property="og:title" content="Заголовок">
    <meta property="og:description" content="Описание">
    <meta property="og:url" content="https://example.com/">
    <meta property="og:image" content="https://via.placeholder.com/350x150">
    <meta property="og:site_name" content="Бренд или имя сайта">
    <meta property="og:locale" content="ru_RU">

    <link rel="stylesheet" href="css/styles.min.css" />
    <link rel="stylesheet" href="assets/backend/backend.css" />

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Commissioner:wght@300;400;500;600;700&display=swap" rel="stylesheet">

    <title>
        {{ title }}
    </title>
</head>

<body class="no-touch" ontouchstart="">
    <div class="sprite" aria-hidden="true" style="position: absolute; width: 0; height: 0; overflow: hidden;">
        {{> sprite }}
    </div>

    <div class="page-content">
        {{> header }}
        <main class="page-main">
            {{#block "main"}}

            {{/block}}
        </main>
        {{> footer }}
        {{> modals/menu id="menu"}}
        {{> modals/city id="city"}}
        {{> modals/order id="order"}}
        {{> modals/calculator id="calc"}}
        {{> modals/success id="success"}}
        {{> modals/error id="error"}}
        {{> modals/map id="map"}}
        {{> modals/cardInfo id="cardInfo"}}
        {{> ie-placeholder }}
        <script>
        // name - название калькулятора,
        //        должно совпадать с data-name контейнера
        // sum - сумма займа
        // month - срок займа
        function calculate(name, sum, month) {
            let getRate; // Функция, которая получает на вход сумму и возвращает ставку
            switch(name) {
                case 'ПТС':
                    getRate = (sum) => {
                        if (sum >= 500000) {
                            return 0.05;
                        }
                        return 0.06;
                    };
                    break;
                case 'Недвижимость':
                    getRate = (sum) => {
                        return 0.05;
                    };
                    break;
                case 'Юр':
                    getRate = (sum) => {
                        if (sum >= 500000) {
                            return 0.05;
                        }
                        return 0.06;
                    };
                    break;
                default:
                    getRate = (sum) => {
                        return 0.05;
                    };
            }

            const rate = getRate(sum);

            const getAnnPayment = (sum, rate, month) => {
                return Math.round(sum * (rate * Math.pow(1 + rate, month)) / (Math.pow(1 + rate, month) - 1));
            }

            return {
                diff: {
                    rate: rate * 100,
                    payment: getAnnPayment(sum, rate, month)
                },
                ann: {
                    rate: rate * 100,
                    payment: getAnnPayment(sum, rate, month)
                }
            };
        }
        </script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script src="js/app.js"></script>
        <script src="assets/backend/backend.js"></script>
    </div>
</body>

</html>