<div class="hystmodal modal" id="{{id}}" aria-hidden="true">
    <div class="hystmodal__wrap modal__wrapper">
        <div class="hystmodal__window modal__window" role="dialog" aria-modal="true">
            <button class="modal__close" data-hystclose type="button" title="Закрыть">
              <svg><use xlink:href="#close"></svg>
            </button>
            {{#block "content"}}
    
            {{/block}}
        </div>
    </div>
</div>