{{#extend "modal"}}
{{#content "content"}}
  <h2 class="modal__title"></h2>
  <div class="modal__description"></div>
  <div class="editable-text-container modal__content-block"></div>
{{/content}}
{{/extend}}