{{#extend "modal"}}
{{#content "content"}}
  <h2 class="modal__title">Что-то пошло не так...</h2>
  <p class="modal__subtitle">Повторите попытку позже</p>

  <button class="black-btn" type="button" data-hystclose>Вернутся на сайт</button>
{{/content}}
{{/extend}}