{{#extend "modal"}}
{{#content "content"}}
  <h2 class="modal__title">Заполните контакты</h2>
  <p class="modal__subtitle">Мы перезвоним вам в течении 30 минут и ответим на все вопросы!</p>

  {{>form name="order"}}
{{/content}}
{{/extend}}