{{#extend "modal"}}
{{#content "content"}}
  <h2 class="modal__title">Заявка отправлена!</h2>
  <p class="modal__subtitle">Спасибо за обращение!</p>

  <button class="black-btn" type="button" data-hystclose>Вернутся на сайт</button>
{{/content}}
{{/extend}}