{{#extend "layout"}}
{{#content "main"}}

{{>breadcrumbs}}
{{>page-title}}

<div class="sections-24">
  {{>calculators}}

  <section class="text">
    <div class="container">
      <div class="text__inner editable-text-container">
        <h2>Как рассчитать займ</h2>
        <br>
        <p>Чтобы получить точную информацию о будущем автозайме, введите в форму калькулятора следующие данные:</p>
        <ul>
          <li>желаемую сумму займа (зависит от стоимости автомобиля)</li>
          <li>выберите удобный срок займа – система предлагает диапазон от 2 месяцев до 3 лет. По мере увеличения срока снижается процент, найдите свой идеальный баланс. Суммы переплат и ежемесячных платежей обновятся автоматически</li>
        </ul>
        <br>
        <p>С помощью нашего калькулятора можно быстро подсчитать выгодные варианты займа и оценить его для себя. Остались вопросы? Задайте их нашим менеджерам на сайте, по телефону или приходите в наш офис в Москве.</p>
      </div>
    </div>
  </section>

  {{>mini-faq}}
</div>

{{/content}}
{{/extend}}