{{#extend "layout"}}
{{#content "main"}}

{{>breadcrumbs}}
{{>page-title}}

<div class="sections-24">
  {{>contacts-list}}
  {{>form-order title="Нужно как можно быстрее?" subtitle="Оставьте сотовый номер телефона, чтобы получить бесплатную консультацию"}}
</div>

{{/content}}
{{/extend}}