{{#extend "layout"}}
{{#content "main"}}

<div class="sections-24">
  {{>intro-form data=introForm}}
  {{>points}}
  {{>benefits col3=true t="От заявки до получения денег всего 30 минут"}}
  {{>steps-and-terms}}
  {{>calculator data=entityCalc}}
  {{>cases}}
  {{>reviews}}
  {{>mini-faq}}
  {{>links}}
</div>

{{/content}}
{{/extend}}