{{#extend "layout"}}
{{#content "main"}}

<div class="sections-24">
  {{>intro}}
  {{>intro-benefits}}
  {{>calculator data=indexCalc}}
  {{>steps}}
  {{>list-tabs}}
  {{>reviews}}

  {{>form-order title="Нужно как можно быстрее?" subtitle="Оставьте сотовый номер телефона, чтобы получить бесплатную консультацию"}}
</div>

{{/content}}
{{/extend}}