{{#extend "layout"}}
{{#content "main"}}

<div class="sections-24">
  {{>intro-form data=introForm}}
  {{>cards data=cards col4=true}}
  {{>steps-and-terms}}
  {{>form-order title="Получи аванс в день обращения" subtitle="В любой жизненной ситуации <br> Даже если отказал банк"}}
  {{>benefits col3=true}}
  {{>cases}}
  {{>reviews}}
  {{>mini-faq}}
  {{>links}}
</div>

{{/content}}
{{/extend}}