{{#extend "layout"}}
{{#content "main"}}

<div class="sections-24">
  {{>intro-form data=introForm}}
  {{>cards data=cards}}
  {{>calculator data=transportCalc}}
  {{>steps}}
  {{>mini-text}}
  {{>benefits col3=true t="От заявки до получения денег всего 30 минут"}}
  {{>cases}}
  {{>reviews}}
  {{>mini-faq}}
  {{>links}}
</div>

{{/content}}
{{/extend}}