@font-face {
  font-family: 'Commissioner';
  src: url('../assets/fonts/Commissioner/Commissioner-Light.woff2') format('woff2'),
      url('../assets/fonts/Commissioner/Commissioner-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Commissioner';
  src: url('../assets/fonts/Commissioner/Commissioner-Bold.woff2') format('woff2'),
      url('../assets/fonts/Commissioner/Commissioner-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Commissioner';
  src: url('../assets/fonts/Commissioner/Commissioner-Medium.woff2') format('woff2'),
      url('../assets/fonts/Commissioner/Commissioner-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Commissioner';
  src: url('../assets/fonts/Commissioner/Commissioner-SemiBold.woff2') format('woff2'),
      url('../assets/fonts/Commissioner/Commissioner-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Commissioner';
  src: url('../assets/fonts/Commissioner/Commissioner-Regular.woff2') format('woff2'),
      url('../assets/fonts/Commissioner/Commissioner-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}