.container {
    width: 100%;
    max-width: calc(var(--max-container-width) + 2 * var(--content-padding));
    margin: 0 auto;
    padding: 0 var(--content-padding);
    @supports (width: max(20vw, 100px)) {
        padding-left: max(env(safe-area-inset-left, 1.4rem), var(--content-padding));
        padding-right: max(env(safe-area-inset-right, 1.4rem), var(--content-padding));
    }
}

.page-content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.page-main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;

    padding-top: calc(var(--content-top-padding) + var(--js-header-height));
}

.page-title {
    margin-top: 1.2rem;
    margin-bottom: 3.5rem;

    font-size: 5.4rem;
    line-height: 1.2;
    font-weight: 600;

    @include breakpoint(tablet) {
        margin-top: 0.6rem;
        margin-bottom: 2.6rem;

        font-size: 3.2rem;
    }
    @include breakpoint(mobile) {
        margin-top: 0;
        margin-bottom: 2.6rem;

        font-size: 2.4rem;
    }
}

.sections-24 {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;
    gap: 10rem;

    padding-bottom: 10rem;

    @include breakpoint(tablet) {
        gap: 5rem;
        padding-bottom: 5rem;
    }
}

.editable-text-container {
    font-size: 1.6rem;
    line-height: 1.2;

    @include breakpoint(tablet) {
        font-size: 1.5rem;
    }

    h1, h2, h3, h4, h5, h6 {
        line-height: 1.2;
        font-weight: 700;
    }

    h1 {
        font-size: 7.4rem;
        @include breakpoint(tablet) {
            font-size: 3.6rem;
        }
        @include breakpoint(mobile) {
            font-size: 2.4rem;
        }
    }

    h2 {
        font-size: 5.4rem;
        @include breakpoint(tablet) {
            font-size: 3.2rem;
        }
        @include breakpoint(mobile) {
            font-size: 2.4rem;
        }
    }

    h3 {
        font-size: 3rem;
        @include breakpoint(tablet) {
            font-size: 2.6rem;
        }
        @include breakpoint(mobile) {
            font-size: 1.8rem;
        }
    }

    h4 {
        font-size: 2.4rem;
        @include breakpoint(tablet) {
            font-size: 2rem;
        }
        @include breakpoint(mobile) {
            font-size: 1.6rem;
        }
    }

    h5 {
        font-size: 2rem;
        @include breakpoint(tablet) {
            font-size: 1.8rem;
        }
        @include breakpoint(mobile) {
            font-size: 1.4rem;
        }
    }

    h6 {
        font-size: 1.6rem;
        @include breakpoint(tablet) {
            font-size: 1.5rem;
        }
        @include breakpoint(mobile) {
            font-size: 1.3rem;
        }
    }

    a {
        text-decoration: underline;

        &:hover {
            color: $orange;
        }
        &:focus-visible {
            color: $orange;
        }
    }

    b {
        text-transform: uppercase;
    }

    hr {
        height: 0.1rem;
        margin: 1em 0;

        border: none;
        border-radius: 1rem;
        background-color: #E0E0E0;
    }

    img, svg {
        max-width: 100%;
        height: auto;
    }

    ol, ul {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        justify-content: flex-start;
        gap: 3rem;

        @include breakpoint(tablet) {
            gap: 1.6rem;
        }

        li {
            position: relative;

            margin-left: 2rem;

            &::before {
                position: absolute;
                right: calc(100% + 1rem);
            }
        }
    }

    ol {
        counter-reset: cnt;

        li {
            counter-increment: cnt;

            &::before {
                content: counter(cnt)".";

                top: 0;

                color: $blue;
            }
        }
    }

    ul {
        li {
            &::before {
                content: '';

                top: 0.5em;

                width: 0.5rem;
                height: 0.5rem;

                border-radius: 50%;
                background-color: $blue;
            }
        }
    }

    table {
        border-collapse: collapse;

        width: 100%;

        th, td {
            padding: 1em;

            border: solid 1px $blue;
        }

        th {
            font-weight: 700;
            text-transform: uppercase;
            text-align: center;

            background-color: $blue;
            opacity: 0.25;
        }
    }

    blockquote {
        position: relative;

        padding-left: 2rem;
        margin: 1em 0;

        font-weight: 700;
        text-transform: uppercase;

        &::before {
            content: '';

            position: absolute;
            left: 0;
            top: 0;

            height: 100%;
            width: 4px;

            background-color: $blue;
        }
    }

    & .js-table-wrapper {
        padding-bottom: 5px;

        overflow-x: auto;

        @include customScrollbar;
    }

    & .js-iframe-wrapper {
        overflow: hidden;
        padding-top: 56.25%;
        position: relative;

        iframe {
            position: absolute;
            top: 0;
            left: 0;
            border: 0;
            width: 100%;
            height: 100%;
        }
    }
}