:root {
  --max-container-width: 145rem;
  --content-padding: 11.5rem;
  --content-top-padding: 8rem;
  --primary-color: #FBB400;
  --text-color: #232735;

  --fs-74: 7.4rem;
  --fs-54: 5.4rem;
  --fs-46: 4.6rem;
  --fs-42: 4.2rem;
  --fs-34: 3.4rem;
  --fs-30: 3rem;
  --fs-24: 2.4rem;
  --fs-20: 2rem;
  --fs-16: 1.6rem;
  --fs-15: 1.5rem;
  --fs-14: 1.4rem;
  --fs-13: 1.3rem;

  @media only screen and (max-width: (1400px)) {
    --content-padding: 6rem;
  }
  @media only screen and (max-width: (1024px)) {
    --content-top-padding: 6rem;
    --content-padding: 3.2rem;
  }
  @media only screen and (max-width: (640px)) {
    --content-top-padding: 2rem;
    --content-padding: 2.4rem;
  }
}

// Цвета из макета
$dark: #232735;
$blue: #5DD6DE;
$light-blue: #6AEDF5;
$light-yellow: #FCFFA3;
$yellow: #FCEC60;
$deep-yellow: #FCD960;
$orange: #FBB400;
$white: #FFFFFF;

// Безымянные цвета
$grey: #A0B4B6;
$dark-grey: #494D5A;
$light-grey: #A0B4B6;
$transparent: rgba(0,0,0,0);
$error: #DB4444;

$minWidth: 375;
$maxWidth: 1680; // Ширина макета
$btt: 0.3s; // base-transition-time
$bte: ease; // base-transition-easing

$overlay-color: rgba(0, 0, 0, 0.5);