:root {
  --max-container-width: 145rem;
  --content-padding: 11.5rem;
  --primary-color: #FBB400;
  --text-color: $dark;
}

// Цвета из макета
$dark: #232735;
$blue: #5DD6DE;
$light-blue: #6AEDF5;
$light-yellow: #FCFFA3;
$yellow: #FCEC60;
$deep-yellow: #FCD960;
$orange: #FBB400;
$white: #FFFFFF;


$minWidth: 375;
$maxWidth: 1680; // Ширина макета
$btt: 0.3s; // base-transition-time
$bte: ease; // base-transition-easing

$overlay-color: rgba(0, 0, 0, 0.5);